@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, html{   
    background-color: #E5E5E5;;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* Ultility Classes/ Custom Properties */

:root{
    --yellow-bg:#d0e452;
    --green-bg: #259d88;
    --black-bg: #0f0f0f;
    --white-bg: #e5e5e5;
}

a{
    text-decoration: none;
    display: inline-block;
    color: var(--black-bg);
}

.primary-btn{
    background-color: var(--black-bg);
    color: var(--white-bg);
    padding: .5rem 4rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.primary-btn:hover{
    background-color: var(--green-bg) ;
    color: var(--black-bg);
    border: 1px solid var(--black-bg);
}

.fa-big{
    font-size: 40px;
    font-weight: 600;
    color: var(--white-bg);
    font-family: "poppins", sans-serif;
}


/* Cores Styling */
.container{
    height: 90vh;
    width: 270px;
    background-color: var(--green-bg);
    padding: 1rem;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.wrapper .game-title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: .3rem 2.5rem;
    border-bottom: 2px dotted var(--yellow-bg);
    color: var(--white-bg);
}

.circle-dot{
    background-color: var(--yellow-bg);
    border-radius: 5px;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 97px;
    left: 93px;
}

.wrapper h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--white-bg);

}

.main-game-area{
    margin-top: 5rem;
    /* border: 1px solid red; */
    position: absolute;
    top: 140px;
    left: 40px;
}

/* emptydiv styles  */
.iron{
    height: 160px;
    width: 6px;
    border-radius: 10px;
    background-color: var(--yellow-bg);
 }

 .empty-div-icon .uni{
    position: absolute;
    top: 2px;
    left: 50px;
}

.empty-div-icon .dou{
    position: absolute;
    top: 2px;
    left: 120px;
}

.empty-div-icon .tri{
    position: absolute;
    transform: rotate(90deg);
    top: -30px;
    left: 85px;
}

.empty-div-icon .quat{
    position: absolute;
    transform: rotate(90deg);
    top: 20px;
    left: 85px;
}

/* xmark icon styes */
.x-mark-icon .first{
    position: absolute;
    /* color: black; */
    
}

.x-mark-icon .second{
    position: absolute;
    top: 0px;
    right: -40px;
    /* color: red; */
}

.x-mark-icon .third{
    position: absolute;
    top: 50px;
    left: 70px;
    /* color: green; */
}

.x-mark-icon .fourth{
    position: absolute;
    top: 120px;
    left: 70px;
    /* color: yellow; */
}


/* circle icon styes */
.circle-icon .a{
    position: absolute;
    top: 120px;
    left: 135px;
    /* color: red; */
}

.circle-icon .b{
    position: relative;
    top: 55px;
    left: 135px;
    /* color: blue; */
}

.circle-icon .c{
    position: relative;
    top: 0px;
    left: 27px;
    /* color: rgb(10, 10, 10); */
}

.circle-icon .d{
    position: relative;
    left: -85px;
    top: 55px;
    /* color: violet; */
}

.button{
    position: absolute;
    top: 400px;
}
